<!DOCTYPE html>
<html>

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>{{title}}</title>
</head>

<body>
  <form id="email" name="email" method="post" action="/email/send">
    <label for="to">To: </label>
    <input class="text" name="email" type="email" />
    <label for="subject">Subject: </label>
    <input name="subject" type="text" />
    <label for="body">Body: </label>
    <input name="body" type="text" />
    <input class="btn" type="submit" value="Save" />
  </form>
</body>

</html>